<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>$(BUNDLE_DISPLAY_NAME)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(BUNDLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <!--========== Google/Facebook Auth (DEV) ==========-->
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.example.application.dev</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.250101921659-vc8disni6qb7eq4qb2v5877edd952s7c</string>
          <string>fb...</string>
        </array>
      </dict>
      <!--========== Google/Facebook Auth (UAT) ==========-->
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.example.application.uat</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.250101921659-bbe99v5481u3db8dqrfj0lmq9l0ls0gv</string>
          <string>fb...</string>
        </array>
      </dict>
      <!--========== Google/Facebook Auth (PROD) ==========-->
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.example.application</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.250101921659-bbe99v5481u3db8dqrfj0lmq9l0ls0gv</string>
          <string>fb...</string>
        </array>
      </dict>
      <!--========== Facebook Auth (UAT) ==========-->
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb...</string>
        </array>
      </dict>
      <!--=========================================-->
    </array>
    <!--========== Facebook Auth (UAT) ==========-->
    <key>FacebookAppID</key>
    <string>...</string>
    <key>FacebookClientToken</key>
    <string>...</string>
    <key>FacebookDisplayName</key>
    <string>...</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
    <!--=========================================-->
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access to scan QR codes</string>
    <key>NSContactsUsageDescription</key>
    <string>Reason we need access to the contact list</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>$(LAUNCH_SCREEN_STORYBOARD)</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>dev.flutter.background.refresh</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Your app needs access to the photo library to upload and share photos.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>push-to-talk</string>
    </array>
  </dict>
</plist>